{% extends 'base.html' %}
{% block content %}

<h2>Available Books</h2>

<table border="1" cellpadding="10">
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Stock</th>
    <th>Action</th>
</tr>

{% for book in data %}
<tr>
    <td>{{ book.title }}</td>
    <td>{{ book.author }}</td>
    <td>{{ book.available_stock }}</td>
    <td>
        {% if book.available_stock > 0 %}
        <form method="post" action="{% url 'add_to_cart' book.book_id %}">
            {% csrf_token %}
            <button class="btn">Add</button>
        </form>
        {% else %}
        Out of Stock
        {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% endblock %}
