{% extends 'base.html' %}
{% block content %}

<h2>Your Cart</h2>

{% for book in cart_books %}
<p>
    {{ book.title }}
    <form method="post" action="{% url 'remove_from_cart' book.book_id %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn danger">Remove</button>
    </form>
</p>
{% empty %}
<p>No items in cart</p>
{% endfor %}

{% if cart_books %}
<form method="post" action="{% url 'confirm_issue' %}">
    {% csrf_token %}
    <button class="btn">Confirm Issue</button>
</form>
{% endif %}

{% endblock %}
