<nav class="navbar">
    <div class="logo">HealthCare</div>
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">&#9776;</label>
    <ul class="nav-links">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>

        {% if user.is_authenticated %}

        <li><a href="{% url 'doctor_list' %}">Doctors</a></li>

        {% if user.doctor %}
        <li><a href="{% url 'doctor_dashboard' %}">My Dashboard</a></li>
        {% endif %}

        <li><a href="">Patient</a></li>
        <li><a href="">Chat</a></li>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'logout_' %}">Logout</a></li>

        <li><a href="">Doctor</a></li>



        {% else %}
        <li><a href="{% url 'register' %}">Register</a></li>
        <li><a href="{% url 'login_' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>