{% extends 'main.html' %}
{% load static %}

{% block title %}Admin Login{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/admin_login.css' %}">
{% endblock %}

{% block content %}

<div class="admin-login-container">
    <div class="login-box">
        <h2>Admin Login</h2>

        <form method="post">
            {% csrf_token %}

            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>

            <button type="submit">Login</button>
        </form>
    </div>
</div>

{% endblock %}
